In [11]:
import pandas as pd
import numpy as np 
from sklearn.metrics import mean_squared_error
#import matplotlib.pyplot as plt 
#import seaborn as sns
#from pandas_profiling import ProfileReport
import warnings 

warnings.filterwarnings('ignore')
#%matplotlib inline

In [5]:
df = pd.read_csv('../results/web.csv', sep=';')

In [17]:
df['APE'] = round(np.abs((df['venda'] - df['PRED']) / df['venda']) * 100,2)

In [18]:
rmse = round(np.sqrt(mean_squared_error(df['venda'], df['PRED'])),2)

In [19]:
df['RMSE'] = rmse

In [20]:
df.head()

   cod_loja data_semana_comercial  venda  PRED   APE    RMSE
0       406            21/08/2022    925   858  7.24  194.91
1       407            21/08/2022     68    62  8.82  194.91
2       406            28/08/2022   1001  1032  3.10  194.91
3       407            28/08/2022     57    52  8.77  194.91
4       406            04/09/2022   1149  1244  8.27  194.91

In [16]:
df.to_csv('../results/web_erros.csv')